img {
  width: 40%;
  display: block;
  margin: auto;
}

.titre {
  font-size: 6vw;
}

.soustitre {
  font-size: 4vw;
  text-align: center;
}

.sous {
  margin-top: -20px;
  font-size: 3vw;
  text-align: center;
  margin-bottom: 20px;
}
